body {
	font-family: Monospace;
	background-color: #000;
	color: #fff;
	margin: 0px;
	overflow: hidden;
}
#info {
	color: #fff;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}
.container{
	width: 75%;
	float:left;
	height: 100%;
	padding: 0;
	margin: 0;
}
.mainmenu{
	display:none;
}
.expand{
	color:#000;
	cursor: pointer;
}
.expand:before{
	content:"> ";
}
.expand:hover{
	color:#770000;
	background-color:#ddd;
}
.instruct{
	clear:both;
	margin-left:1rem;
}
#info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer }
.nav .category, .sub{
	list-style: none;
	margin:0;
	color:#000;
	font-size: 0.75rem;
	cursor: pointer;
	border-bottom: 1px solid #777;

}
.nav .category:hover{
	color:#770000;
	margin:0;
	background-color:#ddd;
}

.subli:hover{
	color:#770000;
	background-color:#bbb;
}
ul{
	-webkit-padding-start: 0px;
	text-indent:1rem;
	margin:0;

}
.sub{
	text-indent:2.0rem;
	background-color:#ddd;
	font-size:0.75rem;

}
.category{
	padding: 0.5rem 0;

}
.sub{ display: none;}
.menu{ 
	position:absolute;
	background-color:#eee;
	width: 25%;
	margin:0;
	padding:0;
	float:left;
	text-indent: 1rem;
	z-index:10;
	top:100px;
}
.subli{
	border-bottom:1px solid #777;
	padding: 0.5rem 0;
}
.subli:last-child{
	border-bottom:0px;
}
.master:before{
	content:"> ";
}
.active:before{
	content:"V ";
}

